

:root {
    --black: rgb(0,0,0);
    --grey: rgb(95,104,108);
    --dark-blue: rgb(3,109,184);
    --blue: rgb(0,178,241);
    --light-blue : rgb(198,216,241);
    --purple: rgb(179,25,149);
    --magenta: rgb(224,5,140);
    --orange: rgb(255,167,0);
    --yellow: rgb(255,240,0);
    --light-grey: rgb(233,248,249);
 }
 
 title {
    color: var(--white);
    background-color: var(--black);
    font-size: 100%;
 }

 subtitle-yellow {
    color: var(--yellow);
    background-color: var(--black);
    font-size: 100%;
 }
 
 header-menu-other-defaut {
    color: var(--grey);
    background-color: var(--black);
    font-size: 150%;
 }

 header-menu-other-mouseOn {
    color: var(--white);
    background-color: var(--black);
    font-size: 150%;
 }
 
 header-menu-current {
    color: var(--yellow);
    background-color: var(--black);
    font-size: 150%;
 }

 side-menu-other {
    color: var(--light-grey);
    background-color: rgb(89, 90, 47);
    font-size: 112%;
 }
 
 side-menu-current {
    color: var(--grey);
    background-color: var(--yellow);
    font-size: 112%;
 }
 
 side-menu-header {
    color: var(--white);
    background-color: var(--black);
    font-size: 150%;
 }
 
 login-defaut {
    color: var(--white);
    background-color: var(--magenta);
    font-size: 150%;
 }

 login-mouseOn {
    color: var(--yellow);
    background-color: var(--magenta);
    font-size: 150%;
 }
 
 route-first-element {
    color: var(--white);
    background-color: var(--black);
    font-size: 90%;
 }

 route-last-element {
    color: var(--yellow);
    background-color: var(--black);
    font-size: 90%;
 }
 
 slogan-first-element {
    color: var(--white);
    background-color: var(--black);
    font-size: 100%;
 }

 slogan-last-element {
    color: var(--yellow);
    background-color: var(--black);
    font-size: 100%;
    font-variant: small-caps;
    font-weight: bold;
 }

 h1 {
    color: var(--white);
    background-color: var(--magenta);
    font-size: 250%;
 }

 h2 {
    color: var(--grey);
    background-color: var(--white);
    font-size: 135%;
    font-variant: small-caps;
 }

 h3 {
    color: var(--magenta);
    background-color: var(--white);
    font-size: 112%;
    font-variant: small-caps;
 }

 p {
    color: var(--grey);
    background-color: var(--white);
    font-size: 97%;
 }
 
 footer {
    color: var(--grey);
    background-color: var(--white);
    font-size: 112%;
    text-align: center;
 }
 
 /*Bouton connecter
 défaut : grey on yellow
 mouse on: white on black*/
 
 /*bouton chevron carroussel
 défaut : yellow on black
 mouse on : yellow on magenta*/
 
 /*login boutton cadenas*/
 


 body {
    color:black;
    background-color:white;
    background-image:url("../assets/img/MSM.03.jpg");
    background-repeat:no-repeat;
    background:linear-gradient(to bottom, rgba(95,104,108,0.5), rgba(0,0,255,0.5));
    }
 
 
 