<div class="writings">
<h1>Les règles du jeu</h1>
<p>Nous accueillons et soutenons des projets de catégories très variées : création d’entreprise, art, BD, artisanat, danse, design, mode, cinéma et vidéo, cuisine, jeux, journalisme, musique, photographie, édition, technologie et théâtre ou humanitaire. Voici trois règles essentielles qui s'appliquent à tous les projets Investi en Bretagne.</p>
<h2>Votre projet possède un lien fort avec la Bretagne.</h2>
<p>La Bretagne englobe l’aire géographique des cinq départements historiques.</p>
<p>Les entreprises créées doivent avoir leur siège social en Bretagne.</p>
<p>Les événements organisés doivent se dérouler en Bretagne.</p>
<p>Les produits créés doivent êtres produits en Bretagne. Dans le cas de produits complexes, au moins la moitié de la valeur ajoutée doit être produite en Bretagne.</p>
<p>Dans le cas où aucune des règles énoncées ci-dessus ne serait pertinente, le porteur de projet doit a minima avoir sa résidence principale en Bretagne.</p>

<h2>Votre projet est conçu avec honnêteté et présenté de façon claire.</h2>

<p>Notre communauté est fondée sur la confiance et la communication. Les créateurs ne peuvent ni induire les autres utilisateurs en erreur ni présenter des faits de manière erronée ; leurs projets et leurs intentions doivent être sincères. En outre, nous demandons aux créateurs de projets de fabrication complexes (p. ex. : un gadget) de montrer un prototype de ce qu'ils fabriquent. Les rendus photoréalistes ne sont pas autorisés.</p>
<h2>Les levées de fonds caritatives sont interdites.</h2>

<p>Les associations et organisations à but non lucratif sont les bienvenues sur Investi en Bretagne, mais les promesses de don à des œuvres ou causes caritatives sont interdites. Les fonds récoltés sur Investi en Bretagne doivent servir pour faciliter le projet précis que le créateur décrit sur sa page de projet.</p>
<h2>Certains types de récompenses sont interdits.</h2>

<p>Notamment ces articles :</p>

<ul>
   <li>Nous interdisons les projets illégaux, soumis à de sévères réglementations ou présentant un danger potentiel pour les contributeurs, mais aussi les récompenses que le créateur ne fabrique pas lui-même.</li>
   <li>Les projets dans lesquels le créateur prétend pouvoir diagnostiquer, guérir, soigner ou prévenir une maladie ou un problème d’ordre médical (que ce soit à l’aide d’un dispositif, d’un instrument, d’une application, d’un livre, d’un complément alimentaire naturel ou d’autres moyens).</li>
   <li>Les concours, coupons ou bons, jeux d'argent et tombolas.</li>
   <li>Les aliments et boissons énergisantes.</li>
   <li>Le contenu choquant (par exemple, discours incitant à la haine ou encourageant les violences contre autrui, etc.).</li>
   <li>Les organismes génétiquement modifiés proposés en récompense.</li>
   <li>Les animaux vivants. Les créateurs n'ont pas le droit de proposer des animaux vivants dans leurs récompenses.</li>
   <li>Les récompenses qui prennent la forme d'instruments ou intermédiaires financiers, de services de voyage (par ex., forfaits vacances), de services téléphoniques (par ex., téléphone prépayé, numéros 0800) ou de services de marketing.</li>
   <li>Les levées de fonds à des fins politiques.</li>
   <li>Le contenu pornographique.</li>
   <li>Les projets qui encouragent la discrimination, l'intolérance ou le sectarisme envers des groupes marginalisés.</li>
   <li>Les projets qui visent quelque chose qui existe déjà ou dont le but est de revendre un produit déjà fabriqué, sans y ajouter quoi que ce soit et sans chercher à en proposer une version améliorée.</li>
   <li>La revente. Toutes les récompenses proposées sur Investi en Bretagne sont fabriquées ou conçues dans le cadre du projet ou par l'un de ses créateurs. La revente d'articles fabriqués ailleurs est interdite.</li>
   <li>Les stupéfiants, la nicotine, le tabac, les cigarettes électroniques et les accessoires connexes.</li>
   <li>Les armes, les répliques d'armes et les accessoires d'armement.</li>
</ul>

<p>Si votre projet implique des articles illégaux, fortement réglementés ou potentiellement dangereux pour les contributeurs ne figurant pas sur cette liste, contactez-nous avant de démarrer (contact@investienbretagne.bzh).</p>
<p>Si ces règles ne couvrent pas toutes les utilisations possibles de Investi en Bretagne, elles présentent notre approche du financement participatif et l'objectif de notre plateforme.</p>
</div>