<div class="writings">
    <h1>Mentions légales</h1>
    <h2>Préambule</h2>

    <p>Produit en Bretagne a ouvert ce site pour l’information personnelle de ses utilisateurs. Aucune exploitation commerciale
        même partielle des données qui y sont présentées ne pourra être effectuée sans l’accord préalable et écrit de Produit
        en Bretagne. Cette page détaille les conditions légales s’appliquant à chaque visiteur et utilisateur de ce site.
        Le fait de le consulter implique l’acceptation et l’application des spécifications de ce document de manière inconditionnelle.</p>
    <h2>Responsabilité-exclusion de garantie</h2>




    <ul>
        <li>
            <div>Produit en Bretagne s'est efforcé d'assurer l'exactitude de l'ensemble des informations
                fournies sur son site. Malgré le soin apporté dans le choix des informations placées sur ce site, il est
                possible que celui-ci contienne des erreurs, imprécisions ou omissions. La responsabilité contractuelle de
                Produit en Bretagne ne pourra en aucun cas être engagée quant à d'éventuelles erreurs ponctuelles et inopinées
                pouvant survenir sur le site. D’autre part, les informations communiquées sur ce site peuvent être modifiées
                et mises à jour sans préavis.
            </div>
        </li>
        <li>
            <div>Produit en Bretagne ne pourra être tenu pour responsable de tout dommage matériel ou
                immatériel, direct ou indirect, qu’elles qu’en soient les causes (y compris ceux pouvant être causés par
                l’éventuelle diffusion de virus ou par la fraude informatique) ou conséquences résultant de la consultation
                de ce site, de son utilisation, des informations et de l’emploi des informations qu’il comporte ou encore
                de l’impossibilité d’y avoir accès, à l’exception des dommages directs consécutifs d’une faute lourde ou
                intentionnelle de Produit en Bretagne.
            </div>
        </li>
        <li>
            <div>De plus, les liens hypertextes placés sur ce site afin de compléter les informations
                ne sauraient engager la responsabilité de Produit en Bretagne du fait de leur contenu; pas plus que le contenu
                des sites extérieurs désignant le site par un lien hypertexte, aucun contrôle ne pouvant être exercé par
                Produit en Bretagne sur ces sites totalement indépendants. Tout utilisateur du site et des liens hypertextes
                doit se protéger des virus qui pourraient lui être inoculés lors de la visite du présent site ou des sites
                accessibles à partir du présent site par des liens hypertextes. Produit en Bretagne ne garantit pas le fait
                que le serveur accueillant le site soit exempt de virus ou qu'il puisse survenir un problème technique qui
                pourrait endommager les composants de l'ordinateur de l'utilisateur ou des données qui pourraient y être
                stockées. En tout état de cause Produit en Bretagne ou un de ses sous-traitants ne pourra être responsable
                d'un dommage quelconque pouvant se produire lors de la connexion sur le site.
            </div>
        </li>
    </ul>



    <h2>Copyright</h2>


    <ul>
        <li>
            <div>L’intégralité du présent site, la présentation et chacun des éléments, y compris les
                logos, graphismes, photographies, plans, vidéos, sons … etc, apparaissant sur le site sont protégés par les
                législations françaises et internationales en vigueur relatives à la propriété intellectuelle, et sont la
                propriété exclusive de Produit en Bretagne, sauf mention contraire pour les documents en licence Creative
                Commons BY NC SA (pour certaines photographies et cartes).
            </div>
        </li>
        <li>
            <div>Aucune licence, ni aucun autre droit que celui de consulter le "site" n'est conféré
                à quiconque au regard des droits de propriété intellectuelle. La reproduction des documents du site est autorisée
                aux fins exclusives d'information pour un usage personnel et privé ; toute reproduction ou toute utilisation
                de copies réalisées à d'autres fins est expressément interdite.
            </div>
        </li>
        <li>
            <div>Utilisation des documents : toute information, image, vidéo, campagne publicitaire…etc
                sont protégés comme indiqué précédemment. Ces réalisations sont grevées de droits des tiers (i.e. photographes,
                mannequins, illustrateurs, réalisateurs…) qui font l’objet de cessions de droits qui ont été négociées de
                gré à gré. A ce titre tous les droits de reproduction, de représentation et de communication publique y compris
                les documents téléchargeables représentant des réalisations (affiches, presse, films…) sont réservés dans
                ce cadre précis.
            </div>
        </li>
    </ul>

    <p>Aucune exploitation commerciale n’est autorisée et les clauses du présent paragraphe sont applicables. Le non-respect
        desdites clauses et de leurs interdictions constituent une contrefaçon pouvant engager la responsabilité civile ou
        pénale du contrefacteur.</p>
    <h2>Données personnelles</h2>
    <p>Chaque visiteur et utilisateur du site qui fournit des informations personnelles à Produit en Bretagne consent à l'agence
        l'intégralité des droits transférables relatifs à cette information et autorise Produit en Bretagne à en faire usage.
        Les informations ainsi fournies par les visiteurs et utilisateurs sous leur responsabilité seront considérées comme
        non confidentielles, et devront être exactes, licites et ne pas nuire aux intérêts des tiers. Produit en Bretagne
        s’engage à ne pas communiquer les informations recueillies à des tiers pour une exploitation commerciale.</p>
    <p>Les visiteurs et utilisateurs ont à tout moment la possibilité d'exercer leurs droits d'accès, de modification, de
        rectification et de suppression des données qui les concernent (art. 34 de la loi "Informatique & Libertés" du 6
        janvier 1978). Pour exercer ce droit, s'adresser :</p>
    <ul>
        <li>
            <div>par courrier à : 2 avenue de Provence 29238 BREST cedex 3
            </div>
        </li>
        <li>
            <div>par courrier électronique à : contact@investienbretagne.bzh
            </div>
        </li>
    </ul>
    <p>Pour davantage de détails, se référer à notre <a routerLink="/privacy">Politique de Confidentialité</a>.</p>
    <h2>Conditions techniques d'utilisation</h2>
    <p>Afin de profiter pleinement de toutes les fonctionnalités du site Internet de Produit en Bretagne, l'utilisation des
        navigateurs Microsoft Internet Explorer 9+ (PC), Chrome 23+ (Mac et PC) ou Firefox 17+ (Mac et PC) est vivement conseillée
        (logiciels gratuits).</p>
    <h2>Editeur</h2>
    <p>Produit en Bretagne <br> 2 avenue de Provence 29238 BREST cedex 3 <br> Tél : + 33 2 98 47 94 88 <br> Fax : + 33 2
        98 47 38 04 <br> Adresse de courrier électronique : contact@investienbretagne.bzh <br> Numéro du registre du commerce
        et des sociétés : nous ne sommes pas concernés <br> Numéro RNA : 9499Z</p>

    <h2>Conception et réalisation multimédia</h2>
    <p>Société BMV <br> Campus de Ker Lann, 35170 Bruz <br> Téléphone : 02 99 17 19 17 <br>bmvimie@gmail.com </p>
</div>