<div class="writings">
<!-- test access to database-->
<!-- loop to get address informations on table-->
<table class="table table-striped">
  <tr>
    <td colspan="3" *ngFor="let infos of userInfos">
      <h2>Votre profil</h2>
     Nom : {{ infos.userFamilyName }}
     <br>
     Prénom : {{ infos.userFirstName }}
     <br>
     Téléphone : {{ infos.userPhoneNumber }}
     <br>
     E-mail : {{ infos.userEmail }}
    </td>
  </tr>
</table>
</div>


<button class="btn btn-danger" (click)="onSignOut()">Se déconnecter</button>
