<div class="writings">
  <h1>Comment ça marche</h1>

  <p>Plateforme de financement participatif, Investi en Bretagne permet aux projets entrepreneuriaux créatifs, innovants
    ou solidaires de collecter des fonds, tester une idée, réunir et faire grandir une communauté.</p>
  <p><em>Notre ambition : donner du pouvoir aux créateurs et aux entrepreneurs bretons.</em></p>
  <p>Le fonctionnement est simple : des particuliers, associations ou entreprises déposent leur projet et détaillent un objectif
    financier à atteindre, une durée, des contreparties financières, matérielles ou symboliques qu’ils offrent en échange
    du soutien des internautes. Si l’objectif est atteint, le porteur du projet reçoit les fonds, réalise son projet et récompense
    ses soutiens grâce aux contreparties. Si l’objectif n’est pas atteint, les internautes ayant financé le projet sont remboursés
    sans frais. La plateforme ne prélève aucune commission sur les sommes versées. Voir vos projets réussir est toute la
    récompense dont nous avons besoin !</p>
  <p>Le siège d’Investi en Bretagne est basé à Brest, mais l’équipe grandit à Rennes et Nantes au contact des startups bretonnes.
    Investi en Bretagne souhaite être au plus proche des créateurs pour leur apporter les meilleures chances de succès.</p>
  <p>Dès maintenant, <a routerLink="/createproject">proposez un projet</a> ou <a routerLink="/createproject">découvrez les projets</a> en cours de collecte.</p>
</div>

