<div class="writings">

    
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="cherchez un projet">
      <!-- <button class="btn btn-primary my-2 my-sm-0" type="submit">
        Recherche
      </button> -->
      <!-- <span class="glyphicon glyphicon-search" type="submit"></span> -->
      <button type="submit" class="btn btn-success glyphicon glyphicon-search"></button>
    </form>

  <br>
  <br>
  <p>
    La liste des projets
  </p>
  <h2>{{ name }}</h2>
  <br>
  <br>
  <!-- "one project" button + access to one project page -->
  <a routerLink="/oneproject">Un projet</a>

  &nbsp;&nbsp;

</div>