<div class="writings">
  <!-- page title -->
  <h1>Tous les projets</h1>

  <!-- research -->
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" name="formSearchByName" 
    placeholder="Entrez le type ou le nom d'un projet"
      size="50">
    <button class="btn btn-ieb glyphicon glyphicon-search" type="submit"></button>
  </form>

  <br>

  <!-- loop to get all projects from this component TypeScripts-->
  <div id="allProjectsList">
    <!-- for one project insert -->
    <div id="OneProjectInsert" class="writings" *ngFor="let project of projects">
      <!-- display project name with router ton one project page-->
      <h4><a routerLink="/project/{{project.projectId}}/{{project.projectName}}">{{project.projectName}}</a></h4>
      <!-- display project author -->
      jusqu'au {{ project.projectTerm | date: 'dd/MM/yyyy' }}
    </div>
  </div>

  <br>

</div>