<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta name="description" content="Le site de Crowdfunding de Produit en Bretagne">
    <meta name="author" content="BMV">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
</head>

<body>
    <!-- display page header -->
    <app-page-header></app-page-header>

    <!-- router outlet permit to manage components by url -->
    <router-outlet></router-outlet>
    <!-- display page footer -->
    <app-page-footer></app-page-footer>

    <script src="../app/layoutit/js/jquery.min.js"></script>
    <script src="../app/layoutit/js/bootstrap.min.js"></script>
</body>

</html>