////////////////////
//TO SORT OUT
////////////////////


////////////////////
//STANDARD COLORS
////////////////////
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
    --black: rgb(0,0,0);
    --dark-grey: rgb(51,51,51);
    --grey: rgb(95,104,108);
    --menu-grey: rgb(204,204,204);
    --light-grey: rgb(233,248,249);
    --white: rgb(255,255,255);
    --whiteAlpha: rgba(255, 255, 255, 0.92);

    --dark-blue: rgb(3,109,184);
    --blue: rgb(0,178,241);
    --light-blue : rgb(198,216,241);
    --purple: rgb(179,25,149);
    --magenta: rgb(224,5,140);
    --orange: rgb(255,167,0);
    --orange-light: rgb(255, 207, 117);
    --yellow: hsl(57, 91%, 67%);
 }

////////////////////
//GLYPH
////////////////////

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.glyphColor {
    color: var(--white);
}

////////////////////
//BASIC BALISE : title,subtitle,body,h1,h2,h3,p,a,ul,li,em,writings
//////////////////// 
 .title-white {
    color: var(--white);
    background-color: var(--black);
    font-size: 200%;
    padding: 3%;
    font-weight: bold;
 }

 .subtitle-yellow {
    color: var(--yellow);
    background-color: var(--black);
    font-size: 250%;
    padding: 3%;
    font-weight: bold;
 }

 body {
    // background:linear-gradient(rgba(62, 62, 62, 0.7), rgba(255,255,255,0.3) 50%);    
    color:black;
    background-color:white;
    background-image:url("../assets/img/Background-img.4.png");
    background-repeat:no-repeat;
    background-size: 100%;
    // max-width: 100%;
    // height: auto;
    // margin-left: auto;
    // margin-right: auto;
    }

 h1 {
    color: var(--white) !important;
    background-color: var(--magenta) !important;
    font-size: 250%;
    padding: 3% !important;
 }

 h2 {
    color: var(--dark-grey) !important;
    
    font-size: 135%;
    font-variant: small-caps !important;
    padding: 3% !important;
 }

 h3 {
    color: var(--magenta) !important;
    background-color: var(--white) !important;
    font-size: 112%;
    font-variant: small-caps !important;
    padding: 3% !important;
 }

 p,ul {
    color: var(--dark-grey);
    font-size: 112%;
 }

p  {
    padding: 1% 3% 0% 3%;
    margin-bottom: 0%;
}


// a.disabledEffects {
//     text-decoration: none !important;
// }
// a:enabled, a:active, a:hover, a:disabled, a:focus {
//     color: var(--white) !important;
// }

li {
    padding: 1% 10% 0% 3%;
}
em {
    color:var(--magenta);
}
 
.writings {
    // background-color:var(--white);
    background-color:var(--whiteAlpha);
    width:50%;
    margin-left: auto;
    margin-right: auto;
    // position:relative;
    // top: 30%;
    padding-bottom: 2%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
}

@media screen and (max-width:800px) {
    .writings, .underfooter {
    width: 100%;
    }
    h1 {
        font-size: 1em;
    }
    h2 {
        font-size: 130%;
    }
    h3 {
        font-size: 112%;
    }
}
@media screen and (min-width:801px) and (max-width:1000px) {
    .writings {
    width: 80%;
    }
}
@media screen and (min-width:1001px) and  (max-width:1200px) {
    .writings {
    width: 60%;
    }
}

////////////////////
//BUTTON IEB
////////////////////

.btn-ieb {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--magenta);
  }
  
  .btn-ieb:hover {
    color: var(--white);
    background-color: var(--magenta);
    border-color: var(--white);
  }
  
  .btn-ieb:focus, .btn-ieb.focus {
    -webkit-box-shadow: 0 0 0 2px var(--whiteAlpha);
            box-shadow: 0 0 0 2px var(--whiteAlpha);
  }
  
  .btn-ieb.disabled, .btn-ieb:disabled {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  
  .btn-ieb:active, .btn-ieb.active,
  .show > .btn-ieb.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #419641;
  }

///////////////////
//BUTTON DARK
///////////////////

.btn-dark {
    background-color: var(--black) !important;
    color: var(--white) !important;

}

.btn:active {
    color: var(--yellow) !important;
}

///////////////////
//BUTTON MENU
///////////////////

.buttonMenu {
    background-color: var(--black);
    color:var(--menu-grey);
    border-color: var(--yellow);
    border-style: solid;
    border-width: 2px;
    vertical-align: middle;
    line-height: 2.5em;
    font-variant: small-caps;

}

.buttonMenu:hover,
.buttonMenu:focus,
.buttonMenu:active {
   background-color: var(--magenta);
   color: var(--white);
}

///////////////////
//FOOTER
///////////////////
 
footer {
    color: var(--dark-grey);
    background-color: var(--white);
    font-size: 112%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
 }

 .underfooter {
    color: var(--white) !important;
    background-color: var(--grey);
    font-size: 100%;
    padding: 1%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
 }


 .underfooterColor {
    color: var(--white) !important;
 }

///////////////////
//FORMULAR
///////////////////

.accountCreationRules {
    color: var(--grey);
    margin-left: 3em;
    // display: table-cell;
    // vertical-align: top;    
}

.form-inline {
    padding-left: 3%;
    padding-right: 3%;
    
}

.form-inline label {
    justify-content: left !important;
    margin-bottom: 1em !important;
    margin-top: 1em !important;
}

.formPadding {
    padding-left: 3%;
    padding-right: 3%;
}

.formTable, td, tr {
    padding-left: 3%;
    padding-right: 3%;
    
    // border: 1px solid black;
}

.textAreaDisplay {
    display: block !important;
    width: 100% !important;
}

.labelCheckbox {
    margin-left: 1em;
    font-weight: normal;
    color: var(--dark-grey);
}

///////////////////
//LOGOS
///////////////////

.investi-en-bretagne-logo {
    width: 10em;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    background: url("../assets/img/logo.IEB.jaunesurbleu.png") no-repeat;
    background-size: 100%;
    }
     
.investi-en-bretagne-logo:hover,
.investi-en-bretagne-logo:focus,
.investi-en-bretagne-logo:active {
    background: url("../assets/img/logo.IEB.bleusurjaune.png") no-repeat;
    background-size: 100%;
}

.investi-en-bretagne-logo-onBlack {
    width: 15.0vw;
    height: 15.0vw;
    position: absolute;
    top:0px;
    background: url("../assets/img/logo.IEB.jaunesurbleu.onBlack.1.png") no-repeat;
    background-size: 100%;
    }
     
.investi-en-bretagne-logo-onBlack:hover,
.investi-en-bretagne-logo-onBlack:focus,
.investi-en-bretagne-logo-onBlack:active {
    background: url("../assets/img/logo.IEB.bleusurjaune.onBlack.1.png") no-repeat;
    background-size: 100%;
}

///////////////////
//Header
///////////////////

#headerConnect {
    float: right;

}

#headerMenu {
    float: right;
}

#headerConnectDiv{
    //background-color: var(--magenta);
    // display: flex;
    margin-bottom: 0.5%;
    text-align: right !important;
}

.floatLeft {
    float: left;
}

.align-right {
    text-align: right !important;
}

.headerMenuDiv {
    text-align: right;
    padding: 0px !important;
}

.headerBackgroundImg {
    background-image: url("../assets/img/header-img.200.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#headerSize {
    min-height: 50px;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }

.mat-dialog-container {
    background-color: var(--dark-blue);
    text-align: center;
}

.mat-dialog-actions{
    display: flex;
    justify-content: center;
}

.popup-button-ok{
    background-color: var(--orange);
}

.popup-button-notok{
    background-color: var(--orange-light);
}

.popup-title{
    color: var(--white) !important; 
}
.popup-text{
    color: var(--white);
}
.popup-link{
    color: var(--orange) !important; 
}

.connection-button{
    background-color: var(--magenta);
    color: var(--white);
}
///////////////////
///////////////////
//all projects page
///////////////////

#allProjectsList{
    // flex options
    display: flex;
    flex-flow: wrap;
    // align options
    align-items: center;
    align-content: space-around;
}

#OneProjectInsert{
    // flex options
    display: flex;
    flex-direction: column;
    // align options
    align-content: space-between;
    align-items: center;
    // margin/padding
    padding: 10px;
    margin: 10px;
    // size
    height: 100px;
    width: 300px;
    // face
    background-color: var(--orange-light);
    border-radius: 20px;
}

#projectCommentInsert{
    // flex options
    display: flex;
    flex-direction: column;
    // align options
    align-content: space-between;
    align-items: center;
    // margin/padding
    padding: 10px;
    margin: 10px;
    // size
    height:  fit-content;
    width: fit-content;
    // face
    background-color: var(--orange-light);
    border-radius: 20px;
}
