<!-- if project finded -->
<div class="writings" *ngIf="projectToDisplay!=null">

  <!-- GENERAL INFORMATIONS -->
  <!-- datas table -->
  <table class="table table-striped">
    <tr>
      <td>
        <!-- display project name -->
        <h2>{{ projectToDisplay.projectName }}</h2>
        <!-- display funding goal -->
        Somme collectée : {{raisedFunds}} / {{ projectToDisplay.projectFundingGoal }} €
        <br>
        <!-- display term of crowdfunding -->
        Avant le {{ projectToDisplay.projectTerm | date: 'dd/MM/yyyy'}}
        <br>
        <!-- button to contribute -->
        <button type="button" *ngIf="authService.isAuth" mat-raised-button class="buttonMenu"
          class="connection-button">
          Contribuer à ce projet
        </button>
        <br>
        <div *ngIf="!authService.isAuth">Connectez-vous pour contribuer à ce projet.</div>
      </td>
    </tr>
  </table>

  <!-- COUNTERPARTS -->
  <h4>Contreparties</h4>
  <!-- loop on project counterparts -->
  <div id="counterpartInsert" class="writings" *ngFor="let counterpart of projectToDisplay.projectCounterparts">
    <!-- display counterpart price and name -->
    Pour {{ counterpart.counterpartPrice }} € : <h5>{{ counterpart.counterpartName }}</h5>
    <!-- display counterpart text -->
    {{counterpart.counterpartDescription}}
  </div>

  <!-- PROJECT STEPS -->
  <h4>Palliers</h4>
  <!-- loop on project steps -->
  <div id="projectStepInsert" class="writings" *ngFor="let step of projectToDisplay.projectProjectSteps">
    <!-- display project step level and name -->
    {{ step.projectStepLevel }} : <h5>{{ step.projectStepName }}</h5>
    <!-- display project step text -->
    {{step.projectStepDescription}}
  </div>

  <!-- COMMENTS -->
  <h4>Commentaires</h4>
  <!-- loop on project comments -->
  <div id="projectCommentInsert" class="writings" *ngFor="let comment of projectToDisplay.comments">
    <!-- display comment date and name -->
    {{ comment.commentDate | date: 'dd/MM/yyyy' }} : <h5>{{ comment.commentName }}</h5>
    <!-- display comment text -->
    {{comment.commentText}}
  </div>
</div>

<!-- if no data found -->
<div class="writings" *ngIf="projectToDisplay==null">
  Aucune donnée trouvée pour ce projet
</div>