<br>
<br>

<footer class="writings">
  <br>
  
  <a>
    <img id="investi-en-bretagne-logo" src="assets/img/Investi_En_Bretagne_logo.png" alt="Investi_En_Bretagne_logo">
  </a>
  <br>
  <br> Produit en Bretagne - 2 Avenue de Provence - 29238 BREST Cedex 3 <br> Tél. 02 98 47 94 88 - contact@investienbretagne.bzh
  <br> Tous droits réservés
  <br>
  <br>
</footer>

<br>
<br>


<div class="underfooter">
  <a routerLink="/legalnotice" class="underfooterColor">Mentions légales</a><br>
  <a routerLink="/privacy" class="underfooterColor">Politique de confidentialité</a><br>
  <a routerLink="/rules" class="underfooterColor">Les règles du site</a><br>
  <a routerLink="/advices" class="underfooterColor">Conseils, confiance et sécurité</a><br>
</div>