
    
    

        <div class="writings">
            <h1>Politique de confidentialité</h1>
            <h2>Modifications apportées à cette Politique</h2>

            <p>Nous pourrons être amenés à modifier périodiquement la présente Politique. Si tel est le cas, nous vous informerons
                de toute modification substantielle, soit par le biais d'une notification sur le Site, soit par e-mail. Les
                nouvelles versions de cette Politique ne s'appliqueront jamais rétroactivement ; nous vous informerons de
                leur date exacte d'entrée en vigueur. Si vous continuez à utiliser Investi en Bretagne après une modification,
                vous nous signifiez que vous acceptez cette Politique.</p>
            <h2>Qui sommes-nous ?</h2>
            <p>Investi en Bretagne (avec sa mère Produit en Bretagne, ses filiales, sociétés affiliées, agents, représentants,
                consultants, employés, administrateurs et dirigeants, collectivement « Investi en Bretagne » ou « nous »),
                propose des services dont le but est d'aider les gens à réaliser leurs projets créatifs. Notre service principal
                est une plateforme de financement qui accueille des projets créatifs. Nous sommes une association loi 1901
                basée à Brest, en Bretagne.</p>
            <h2>Applicabilité de cette Politique</h2>
            <p>Cette Politique décrit les informations que nous récoltons auprès de vous, l'utilisation que nous faisons
                de ces informations et le fondement juridique correspondant. Aussi, elle indique si et comment ces informations
                pourraient être transmises, ainsi que vos droits et vos choix à l'égard des informations que vous nous confiez.
                Si vous voyez un mot qui commence par une lettre majuscule, il s'agit d'un terme de nos Conditions d'utilisation.</p>
            <p>En utilisant les services proposés par Investi en Bretagne, vous reconnaissez que vous avez lu nos Conditions
                d'utilisation et que vous avez compris cette Politique de confidentialité et notre Politique en matière de
                cookies.</p>
            <h2>Les données que nous recueillons et que nous recevons</h2>
            <p>Pour que vous puissiez créer un compte sur Investi en Bretagne et utiliser les Services, nous devons recueillir
                et traiter certaines informations. En fonction de votre utilisation des Services, ces informations peuvent
                comprendre ce qui suit :</p>

            <ul>
                <li>
                    <div>les informations que vous fournissez en remplissant des formulaires sur Investi
                        en Bretagne (comme votre nom, votre adresse e-mail et votre adresse postale, votre numéro de téléphone
                        et votre pays de résidence, votre identifiant et votre mot de passe), notamment si vous vous inscrivez
                        en tant qu'utilisateur des Services, si vous vous inscrivez à nos lettres d'information, si vous
                        téléchargez ou envoyez du contenu via le site ou si vous nous contactez ;
                    </div>
                </li>
                <li>
                    <div>le détail de toutes les demandes ou transactions que vous effectuez par le
                        biais des Services. Investi en Bretagne fait appel à d'autres sociétés pour le traitement des paiement
                        et les informations de paiement que vous nous transmettez sont récoltées par ces prestataires conformément
                        à leurs politiques de confidentialité respectives ;
                    </div>
                </li>
                <li>
                    <div>les communications que vous nous envoyez (par exemple, pour demander de l'aide,
                        nous envoyer des questions ou des commentaires ou nous signaler un problème) ;</div>
                </li>
                <li>
                    <div>les informations que vous transmettez sur ou à Investi en Bretagne dans vos
                        commentaires, contributions, discussions ou messages adressés à d'autres utilisateurs.</div>
                </li>
            </ul>
            <p>Vous avez le droit de refuser de nous confier vos informations. Cependant, ce choix limitera votre capacité
                à créer un compte et à utiliser nos Services. Si vous souhaitez enregistrer vos données de paiement à des
                fins d'utilisation future, commenter un projet ou réaliser une grande partie des actions proposées sur notre
                Site, il vous faudra terminer la création de votre compte. Vos informations sont accessibles, modifiables
                et supprimables depuis vos paramètres de compte.</p>
            <h2>Comment nous utilisons ces informations</h2>
            <p>Nous utilisons les informations que nous récoltons aux fins suivantes :</p>

            <ul>
                <li>
                    <div>pour sécuriser votre compte et protéger nos Services (y compris pour pouvoir
                        vérifier l'identité des créateurs et prévenir la fraude et les abus) ;</div>
                </li>
                <li>
                    <div>pour nous permettre de vous proposer nos Services et pour améliorer et faire
                        la promotion de nos Services ;</div>
                </li>
                <li>
                    <div>pour créer et gérer votre compte et vous contacter et personnaliser votre expérience
                        sur Investi en Bretagne ;
                    </div>
                </li>
                <li>
                    <div>pour suivre et analyser votre utilisation des Services, afin d'améliorer les
                        performances de Investi en Bretagne et proposer aux utilisateurs la meilleure expérience possible.</div>
                </li>
            </ul>

            <h2>Utilisateurs domiciliés dans l'Union européenne</h2>
            <p>La législation européenne en matière de protection des données impose un « fondement juridique » à la collecte
                et à la conservation des données personnelles des citoyens ou des résidents de l'Espace économique européen.
                Nos fondements juridiques comprennent ce qui suit :</p>

            <ul>
                <li>
                    <div>Exécuter le contrat conclu avec vous : dans certaines circonstances, nous aurons
                        besoin de vos données personnelles afin de respecter notre engagement contractuel à assurer les Services,
                        à permettre aux créateurs d'établir et de présenter leurs projets et à permettre aux contributeurs
                        d'y accéder et d'y contribuer.</div>
                </li>
                <li>
                    <div>Conformité à une obligation légale : de temps à autre, la loi nous impose de
                        recueillir et d'utiliser vos données. Par exemple, la législation fiscale nous contraint de conserver
                        un registre de tous les engagements et de tous les règlements réalisés par l'intermédiaire de nos
                        Services.</div>
                </li>
                <li>
                    <div>Intérêts légitimes : ce terme technique, qui relève du droit de la protection
                        des données, signifie essentiellement que notre utilisation de vos données s'appuie sur un motif
                        valable et juste, sans nuire à vos intérêts ni à vos droits. Dans certains cas, nous avons besoin
                        de vos données dans la poursuite de nos intérêts légitimes, d'une manière à laquelle on pourrait
                        raisonnablement s'attendre dans le cadre de nos activités et qui n'a pas d'effets matériels sur vos
                        droits, vos libertés et vos intérêts.
                    </div>
                </li>
                <li>
                    <div>Par exemple, nous pourrions aussi être amenés à vous envoyer des messages promotionnels
                        à propos de nos Services, dans le respect de votre droit de choisir de les recevoir.</div>
                </li>
                <li>
                    <div>Nous analysons les interactions entre les utilisateurs et notre Site afin de
                        mieux comprendre les éléments conceptuels qui marchent bien et ceux qui fonctionnent moins bien.
                        Nous sommes ainsi en mesure d'améliorer et de développer la qualité de l'expérience en ligne que
                        nous proposons à tous nos utilisateurs.</div>
                </li>
            </ul>

            <h2>Comment ces informations sont transmises</h2>
            <h3>Informations rendues publiques</h3>

            <p>Quand vous ouvrez un compte, nous créons pour vous une page de profil de base sur Investi en Bretagne, contenant
                votre nom d'utilisateur et une liste de vos projets soutenus ou lancés. Votre nom d'utilisateur accompagnera
                tous les commentaires que vous publiez et tous les messages que vous envoyez sur Investi en Bretagne. Si
                votre profil est public, les autres personnes peuvent y accéder en cliquant sur votre nom d'utilisateur.</p>
            <p>Si vous ne souhaitez pas que d'autres utilisateurs voient votre nom ou votre image de profil dans les commentaires,
                nous vous invitons à choisir une image ou un nom de compte qui ne permette pas de vous identifier (par exemple,
                lessardines56). Vous avez la possibilité de modifier ou supprimer certaines informations associées à votre
                compte (comme votre nom d'utilisateur, votre image de profil) à partir de vos paramètres de compte ; vous
                pouvez en outre modifier vos paramètres de confidentialité si vous souhaitez rendre votre profil privé ou
                régler les paramètres par défaut.</p>
            <h3>Informations qui ne sont pas rendues publiques</h3>
            <p>Les données suivantes ne seront pas publiquement affichées ni divulguées aux autres utilisateurs :</p>

            <ul>
                <li>
                    <div>les informations de paiement que vous fournissez, le cas échéant ;</div>
                </li>
                <li>
                    <div>votre mot de passe ;</div>
                </li>
                <li>
                    <div>votre adresse IP ;</div>
                </li>
                <li>
                    <div>votre numéro de téléphone ;</div>
                </li>
                <li>
                    <div>les communications que vous nous envoyez (par exemple, pour demander de l'aide,
                        nous envoyer des questions ou des commentaires ou nous signaler un problème).</div>
                </li>
            </ul>
            <h3>Informations transmises à des prestataires de services tiers en qui nous avons confiance</h3>
            <p>Nous pouvons transmettre vos informations à certains prestataires de services tiers qui nous aident à proposer,
                améliorer, promouvoir ou protéger les services de Investi en Bretagne (par exemple, nos partenaires de traitement
                des paiements ou les services qui nous aident à gérer nos publicités sur d'autres sites). Lorsque nous échangeons
                des données avec les prestataires de services tiers qui soutiennent ou assurent les Services de Investi en
                Bretagne, nous leur imposons d'utiliser vos informations uniquement aux fins autorisées par nous et d'appliquer
                des normes au moins aussi strictes que les nôtres en matière de protection de vos données personnelles. Nous
                pouvons aussi transmettre des informations agrégées ou rendues anonymes d'une manière qui ne permette pas
                de vous identifier directement.
            </p>
            <h3>Informations transmises aux créateurs et collaborateurs</h3>
            <p>Lorsque vous soutenez un projet, le créateur du projet connaît votre nom d'utilisateur, le montant que vous
                avez engagé et la récompense que vous avez sélectionnée. Les créateurs ne reçoivent jamais les détails de
                carte bancaire du contributeur ou autres informations de paiement.</p>
            <p>Si un projet que vous avez soutenu est intégralement financé, le créateur reçoit l'adresse e-mail associée
                à votre compte Investi en Bretagne. Par ce biais il pourra vous adresser des questions en vue d'obtenir les
                informations dont il a besoin pour vous envoyer votre récompense (par exemple, votre adresse postale ou votre
                taille de t-shirt).</p>
            <p>Les créateurs ne sont pas censés vous demander des informations qui ne leur sont pas utiles pour livrer les
                récompenses et ne doivent jamais vous demander des informations sensibles comme votre numéro de sécurité
                sociale ou vos données de paiement. Si vous recevez une demande d'information qui vous semble inhabituelle
                ou excessive, contactez-nous à l'adresse support@investienbretagne.bzh.</p>
            <h3>Informations transmises pour protéger Investi en Bretagne et pour respecter la loi</h3>
            <p>Nous nous réservons le droit de divulguer vos informations personnelles si nous estimons que cela est raisonnablement
                nécessaire pour respecter la loi ou l'application de la loi, empêcher les fraudes ou les abus, ou encore
                faire valoir les droits et protéger les biens et la sécurité de Investi en Bretagne, ses employés, ses utilisateurs
                ou d'autres personnes.
            </p>
            <h3>Liens vers d'autres sites Web et d'autres services</h3>
            <p>Notre Site peut comprendre des liens vers d'autres sites Web ou d'autres services dont les pratiques de protection
                de la vie privée peuvent différer de celles de Investi en Bretagne. Lorsque vous suivez un lien vers un site
                ou un service externe, la politique de confidentialité et les déclarations sur le traitement des données
                du site ou du service concerné s'appliquent.</p>
            <h2>Conservation</h2>
            <p>Nous conserverons vos données aussi longtemps que votre compte n’est pas supprimé, afin de vous fournir les
                Services ou autrement comme décrit dans cette Politique. De surcroît, nous conserverons et utiliserons ces
                informations si nécessaire aux fins décrites dans cette Politique et dans la mesure nécessaire pour respecter
                nos obligations juridiques, résoudre les litiges ou encore protéger et faire valoir les droits de Investi
                en Bretagne.</p>
            <p>Nous recueillons et conservons aussi des informations agrégées, rendues anonymes ou accompagnées de pseudonymes
                afin d'assurer la sécurité de notre Site, améliorer nos services ou nous conformer à nos obligations légales
                ; nous nous réservons le droit de stocker ces informations indéfiniment.</p>
            <h2>Transferts de données</h2>
            <p>Investi en Bretagne est une société basée en Bretagne et c'est donc là que vos informations seront recueillies
                et traitées. La Bretagne s’est dotée de lois propres en matière de protection des données et d'accès aux
                informations par les autorités publiques. Les règles auxquelles sont soumises vos informations au titre de
                la législation bretonne peuvent différer de celles de votre pays. Si vous décidez d'utiliser les Services,
                vous devez accepter nos Conditions d'utilisation, qui définissent le contrat entre Investi en Bretagne et
                ses utilisateurs.</p>
            <h2>Vos droits</h2>
            <p>Les utilisateurs qui résident dans certains pays, notamment les pays de l'UE, se voient accorder certains
                droits à propos de leurs informations personnelles. Sauf en cas d'exception ou d'exonération, ces droits
                comprennent la possibilité d'accéder, de corriger ou de demander la suppression de vos données personnelles.
                Ces droits ne s'appliquent pas à l'échelle du monde entier, mais tous les utilisateurs Investi en Bretagne
                peuvent contrôler leurs informations personnelles, comme décrit plus en détail ci-dessous, depuis leurs paramètres
                de compte.</p>
            <p>Vous pouvez, depuis la page des paramètres de votre compte, demander une copie à télécharger des données personnelles
                que Investi en Bretagne a recueillies à votre sujet. Pour modifier ou supprimer les informations confidentielles
                que vous nous avez fournies, connectez-vous et mettez à jour votre profil. Vous pouvez aussi supprimer votre
                compte depuis la page des paramètres de votre compte. Nous pourrions être amenés à conserver certaines informations,
                comme demandé par la loi, ou par nécessité à des fins commerciales légitimes.</p>
            <h2>Notifications mobiles et par e-mail</h2>
            <p>Nous essayons de limiter la quantité d'e-mails que nous envoyons. Nous vous enverrons des annonces relatives
                à nos services, lorsque nécessaire.</p>
            <h2>Sécurité</h2>
            <p>Nous prenons la sécurité très au sérieux et nous attachons une grande importance à la sécurité de vos données
                personnelles. Nous suivons les pratiques courantes dans la protection des données que nous recueillons et
                que nous conservons, y compris l'utilisation du protocole Transport Layer Security (TLS) pour chiffrer les
                informations qui voyagent sur Internet. Aucune méthode de transmission sur Internet et aucune méthode de
                stockage des données ne sont parfaitement sécurisées, de ce fait, Investi en Bretagne n'est pas en mesure
                d'en garantir la sécurité absolue.
            </p>
            <p>Nous avons mis en place une équipe et un protocole d'intervention en cas d'incident de sécurité informatique
                pour les cas où une atteinte aux données se produirait. Nous encourageons le signalement raisonné des vulnérabilités
                de nos Services à l'adresse support@investienbretagne.bzh et nous invitons les signalements de problèmes
                valables dans le cadre de notre programme Bug Bounty.</p>
            <h2>Délégué à la protection des données</h2>
            <p>Pour contacter notre Délégué à la protection des données, veuillez écrire à l'adresse dpo@investienbretagne.bzh.</p>
            <p>Vous pouvez nous contacter par écrit à l'adresse suivante :</p>
            <p>Investi en Bretagne 2 avenue de Provence 29238 BREST cedex 3
            </p>
            <h2>Autorité de protection des données</h2>
            <p>Sous réserve des lois applicables, si vous êtes citoyen ou résident de l'Espace économique européen, vous
                avez aussi le droit de (i) vous opposer à l'utilisation de vos informations personnelles par Investi en Bretagne
                et (ii) déposer une plainte auprès de la CNIL qui est l'autorité française de protection des données.</p>
            <p>Commission Nationale de l’Informatique et des Libertés (CNIL) 3 Place de Fontenoy TSA 80715 75334 PARIS CEDEX
                07 Téléphone : +33 (0)1 53 73 22 22 https://www.cnil.fr
            </p>
            <h2>Enfants</h2>
            <p>Les personnes âgées de moins de 18 ans (ou l'âge en vigueur dans votre juridiction) ne sont pas autorisées
                à utiliser Investi en Bretagne par elles-mêmes. Investi en Bretagne ne recueille pas sciemment les informations
                personnelles des enfants âgés de moins de 13 ans et ces derniers ne sont pas autorisés à créer un compte
                ou à utiliser nos Services.
            </p>
            <p>Si vous pensez qu'un enfant nous a transmis des informations personnelles, veuillez nous contacter à l'adresse
                support@investienbretagne.bzh. Si nous apprenons qu'un enfant de moins de 13 ans nous a transmis des informations
                personnelles nominatives, nous les supprimerons.</p>


        </div>
    
