<div class="writings">
  <h1>Contact</h1>
  <p>
    Vous pouvez nous contacter par voies postale, électronique ou téléphonique.
    <br>
    <br> Produit en Bretagne - 2 Avenue de Provence - 29238 BREST Cedex 3
    <br> Tél. 02 98 47 94 88
    <br> contact@investienbretagne.bzh
    <br>
    <br> ou via le formulaire ci-dessous.
    <br>
    <br> Nous nous efforcerons de donner suite à votre requête dans les plus brefs délais.
  </p>

  <!-- For the V2
      Envie de nous aider à répondre ? Nous cherchons des animateurs de communauté pour faire faire à l'affluence des demandes.
      Rendez-vous dans notre espace <a routerLink="/recruit">Recrutement</a>. -->
  <form class="form-inline">
    <table class="formTable">
      <tr>
        <label for="formLastName">Nom</label>
      </tr>
      <tr>
        <input class="form-control mr-sm-2" type="text" placeholder="nom" name="formLastName" size="50">
      </tr>
      <tr>
        <label for="formFirstName">Prénom</label>
      </tr>
      <tr>
        <input class="form-control mr-sm-2" type="text" placeholder="prénom" name="formFirstName" size="50">
      </tr>
      <tr>
        <label for="formEmail2">Adresse électronique</label>
      </tr>
      <tr>
        <input class="form-control mr-sm-2" type="email" placeholder="saisissez votre adresse électronique" name="formEmail2" size="50">
      </tr>
      <tr>
        <input class="form-control mr-sm-2" type="email" placeholder="confirmez votre adresse électronique" name="formEmail3" size="50">
      </tr>
      <tr>
        <label for="formPhoneNumber">Numéro de téléphone</label>
      </tr>
      <tr>
        <input class="form-control mr-sm-2" type="tel" placeholder="+33..." name="formPhoneNumber" size="50">
      </tr>
      <tr>
          <label for="formMessage">Votre message</label>
      </tr>
      <tr>
          
          <textarea class="form-control mr-sm-2 textAreaDisplay" name="formMessage" rows=10>Merci !</textarea>
      </tr>
      <tr>
        <button type="submit" class="btn btn-ieb glyphicon glyphicon-circle-arrow-right gi-2x"></button>
      </tr>
    </table>
  </form>
</div>